@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* font-family: 'Staatliches', cursive; */
:root {
    --primario: rgb(99, 97, 97);
    --primarioOscuro: rgba(0, 0, 0, 0.637);
    --secundario: #FFCE00;
    --secundarioOscuro: #c49c00;
    --blanco: #FFF;
    --negro: #000;

    --Staatliches: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;

}

.grid{
    display: grid;
}
.flex{
    display: flex;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--Staatliches);
}
h1{
    font-size:4rem;
}
h2{
    font-size:3.2rem;
}
h3{
    font-size:2.4rem;
}

/* logo header */

.header{
    display:flex;
    justify-content:center;
    margin: 3rem 0;
}

.header__logo{
    display:flex;
    justify-content: center;
    max-width: 50%;
}

@media (max-width: 648px) {
    .header__logo{
        max-width: 80%;
    }
}

/*  Navbar */
.navbar{
    background-color:var(--primarioOscuro);
    padding:1rem 0;
    display:flex;
    justify-content: center;
}
.navbar__enlace{
    font-family: var(--Staatliches);
    color: var(--blanco);
    font-size: 3rem;
    margin: 0px 2rem;
}
.navbar__enlace:hover{
    color: var(--secundario);
}

.navbar__enlace--activo:active{
    color: var(--secundario);
}

/* Footer */

.footer{
    background-color:var(--primarioOscuro);
    padding:1rem 0;
    margin-top: 2rem;
}
.footer__text{
    text-align: center;
    font-family: var(--Staatliches);
}

/* Producto */

.main__container--grid {
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
    padding:2rem;
}
@media (max-width: 648px) {
    .main__container--grid {
    grid-template-columns: repeat(2, 1fr);
    }
        
}

.producto{
    padding: 1rem;
    background: var(--primarioOscuro) ;
    border-radius: 15px;

}
.producto__imagen{
    width: 100%;
    border-radius: 15px;

}
.producto__informacion{
    text-align: center;
}
.producto__nombre,
.producto__precio{
    font-family: var(--Staatliches);
    font-size: 2.8rem;
    line-height:1.5rem;
}
.producto__precio{
    color: var(--secundario);
}

/* Graficos */

.grafico {
    min-height: 30rem;
}
.grafico--camisas{
    grid-row: 2 / 3 ;
    grid-column: 1/3;
    background-image: url(/img/grafico1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

}

.grafico--node{

    background-image: url(/img/grafico2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 648px ) {
        
    .grafico--node{
        grid-row: 5 / 6 ;
        grid-column: 2 / 4;
        border-radius: 15px;

    }
}
@media (max-width:648px  ) {
    .grafico--node{
        grid-column:1/3 ;
        border-radius: 15px;

    }
}

/* nosotros */
.nosotros{
    text-align: justify;
}

.nosotros__content{
    grid-template-columns: 1fr 1fr;

}
.nosotros__content p{
    padding: 0 2rem;
    margin: -3px 0 0 0;
    line-height:2.3rem;

}
.nosotros__content img{
    max-width:100%;
}


@media (max-width: 1025px) {
    
    .nosotros__content{
        padding: 0 25px;
        display:flex;
        flex-direction:column-reverse;
    }
    .nosotros__content p{
        padding: 0;
        margin: 2rem 0;
    
    }
}

@media (max-width: 648px) {

    .nosotros__content{
        padding: 0 25px;
        display:flex;
        flex-direction:column-reverse;
    }
    .nosotros__content p{
        padding: 0;
        margin: 2rem 0;
    
    }
}

.section__modules{
    margin-top:2rem;
}

.iconos__section{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    padding:2rem;
    gap: 1.5rem;
    text-align:center;
}

.iconos__section p{
    padding: 0 2rem;
    margin: -3px 0 0 0;
    text-align: justify;
    line-height:2.3rem;

}
.iconos__title{
    margin:0 0 1.5rem;
}

@media (max-width: 648px) {
    .iconos__section{
        flex-direction:column;
    }
}   

/* producto camisa */

.camisa{
    grid-template-columns: 1fr 1fr;
    padding:2rem;
}

.imagen__camisa {
    grid-row: 1/3;
    text-align:center;
}
.camisa__img{
    width: 80%;
    
}

@media (max-width: 809px) {
    .camisa{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    
    .formulario__cantidad{
        appearance: none;
        margin-left: 3rem;
    
    }
    
}

.camisa .camisa__contenido{
    text-align:justify;
    margin:1.5rem 0 0 0 ;
}

.formulario{
    grid-template-columns:1fr 1fr ;    
    font-family: var(--Staatliches);
}
.formulario__campo{
    text-align:center;
    border:0.5rem solid var(--primarioOscuro);
    background-color: var(--primario);
    height:6rem;
    color: var(--blanco);
    appearance: none;
    width: 90%;
    font-size: 3rem;
    
}
.formulario__cantidad{
    appearance: none;
    margin-left: 2rem;

}

.formulario__submit{
    height:6rem;
    cursor:pointer;
    background-color: var(--secundario);
    font-family: var(--Staatliches);
    transition: background-color .3s ease;
    font-size: 3rem;
    border:none;
    grid-column: 1/3;
    
}
.formulario__submit:hover{
    background-color:var(--secundarioOscuro);
}

@media (max-width: 809px) {

    .formulario__cantidad{
        appearance: none;
        margin-left: 2.5rem;
        color: var(--blanco);
    
    }
    
}
@media (max-width: 420px) {

    .formulario__cantidad{
        appearance: none;
        margin-left: 1.5rem;
    }
}